---
import { getCollection } from "astro:content";
import AuthorProfile from "src/components/AuthorProfile.astro";
import { siteConfig } from "src/config/site-config";
import MainLayout from "src/layouts/MainLayout.astro";

const authors = await getCollection("author");
// console.log(authors);
---

<MainLayout title="Listado de autores">
    <section>
        <!-- <h1
            class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl "
        > -->
        <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
            {siteConfig.title}
        </h1>
    </section>
    <section class="grid grid-cols-1 sm-grid-cols-2 gap-2">
        <a href="/" id="btn-back">Regresar</a>
        <h1>Autores</h1>
        <section>
            {authors.map((author) => <AuthorProfile author={author} />)}
        </section>
    </section>
</MainLayout>
<style>
    @reference "../styles/global.css";
    .author-card p,
    h3 {
        @apply text-gray-900 dark:text-gray-900 my-2;
    }
</style>
