---
import type { Result } from "@interfaces/pokemon-list.response"

const links = [
    { href: '/', text: 'Listado'},
    { href: '/pokemons/1', text: 'Paginado' },
    { href: '/favorites', text: 'Favoritos' },
]
const currentPath = Astro.url.pathname
---
<!-- component -->
<nav class="shadow bg-slate-900">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        <!-- {
            links.map((link) => (
                <a 
                    href={link.href} 
                    class:list={[{
                        'border-blue-500 border-b-2 ' : (currentPath == link.href)
                    }]}
                    class="text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6"
                >{link.text}</a>
            ))
        } -->
        {
            links.map((link) => (
                <div>
                    <a 
                        href={link.href} 
                        class="text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6"
                    >{link.text}
                    </a>
                    <div class="border-b-2 border-blue-500  mx-4" />
                </div>
            ))
        }
    </div>
</nav>